<!doctype html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Đăng nhập giáo viên</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main class="wrap start">
    <section class="card">
      <h1 class="title">Đăng nhập giáo viên</h1>
      {% if error %}<p style="color:#b42318"><b>{{ error }}</b></p>{% endif %}
      <form method="post">
        <label><b>Mật khẩu giáo viên</b></label>
        <p><input type="text" name="password" autocomplete="off"></p>
        <button class="btn">Đăng nhập</button>
      </form>
    </section>
  </main>
</body>
</html>
